# Python stuff
.venv/
__pycache__/
*.pyc
.env
.uv/

# Node stuff
node_modules/
.svelte-kit/
build/

# Media
pocketbase/pb_data/storage
pocketbase/pb_data/backups

# Misc
.DS_Store
Thumbs.db
.vscode
.idea
